.category-header {
     position: sticky;
     top: 5.5rem;
     width: 100%;
     border-bottom: 1px solid #d9d9d9;
     background-color: var(--color-bg);
     z-index: 9;
     display: flex;
     align-items: center;
}

/* header */
.category-header_shadow {
     position: relative;
     overflow: auto;
}

.category-header_list {
     width: 80%;
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 1rem;
     list-style: none;
     font-size: 1rem;
     line-height: 20px;
     cursor: pointer;
     flex-wrap: nowrap;
}

.category-header_main {
     color: var(--main-color);
     font-weight: 700;
     padding: 1rem;
     position: relative;
     outline: none;
     text-decoration: none;
     white-space: nowrap;
     border-right: 1px solid #d9d9d9;

}

.category-header_item {
     margin-left: 0 !important;
     padding: 1rem;
     position: relative;
     outline: none;
     text-decoration: none;
}


/* search */
.category-header_search {
     width: 20%;
     border-left: 1px solid #d9d9d9;
     flex-direction: column;
}

.button-search {
     background-color: transparent;
     border: 0;
     margin: 10%;
     cursor: pointer;
     color: var(--color-text);
     opacity: 1;
}



.category-header_search {
     display: flex;
     align-items: center;
}

.button-search {
     background: none;
     border: none;
     cursor: pointer;
     margin-right: 10px;
}

.search-field {
     margin-top: 1rem;
     display: flex;
     align-items: center;
}

.search-input {
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 4px;
     margin-right: 10px;
     width: 200px;
}

.submit {
     background: #007bff;
     color: #fff;
     border: none;
     border-radius: 4px;
     padding: 8px 12px;
     cursor: pointer;
}


@media screen and (max-width:768px) {
     .category-header {
          position: static;
          top: 5.5rem;
          width: 100%;
          border-bottom: 1px solid #d9d9d9;
          background-color: var(--color-bg);
          z-index: 9;
          display: flex;
          align-items: center;
     }
}